{% extends "home/base.html" %}
{% block base %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
                    <div class="card shadow-lg">
                        <div class="card-body p-4">
                            <h1 class="text-center mb-4">Register</h1>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" name="username" class="form-control" id="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" name="password" class="form-control" id="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="confirm_password" class="form-label">Confirm Password</label>
                                    <input type="password" name="confirm_passowrd" class="form-control" id="confirm_password" required>
                                </div>
                                <p>Already a User? <a href={% url "login" %}>Login</a></p>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-dark w-100">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock base %}